{% extends "budget/home.html" %}

{% block title %}Budget | Budget Manager{% endblock%}

{% block content %}
	{% if success %}
		<div class="success">
			{{ success }}
		</div>
	{% endif %}

	{% if error %}
		<div class="error">
			{{ error }}
		</div>
	{% endif %}
	<div class="inline-form">
		<form action="/budget/" method="POST">
			{% csrf_token %}
			<h4>Change current month's budget</h4>
			{{ form }}
			<input type="submit" value="Create Budget" />
		</form>
		<div class="success">
			This month's budget : {{ budget.amount}} Rs.
	</div>
	</div>

	<h4>Previous budget plans:</h4>
	<table>
			<tr>
				<th>
					Date
				</th>
				<th>
					Budget Amount (INR)
				</th>
				<th>
					Balance (INR)
				</th>
			</tr>
		{% for budget in user_budgets %}
		<tr style="background: {% cycle 'white' '#e5e5e5'%}">
				<td>
					{{ budget.period }}
				</td>
				<td>
					{{ budget.amount }} Rs.
				</td>
				<td>
					{{ budget.balance }} Rs.
				</td>
			</tr>
		{% endfor %}
	</table>
	<br />
{% endblock %}
