{% extends "budget/home.html" %}

{% block title %}Transactions | Budget Manager{% endblock%}

{% block content %}

	<div class="inline-form">
		<h4>Credit (Add money)</h4>
		<form action="/transactions/credit/" method="POST">
			{% csrf_token %}
			{{ creditform }}
			<input type="submit" value="Add" />
		</form>
	</div>

	<div class="inline-form">
		{% if budget_warning %}
			<h4>{{ budget_warning }}</h4>
		{% endif %}
		<h4>Debit (Withdraw money)</h4>
		<form action="/transactions/debit/" method="POST">
			{% csrf_token %}
			{{ debitform }}
			<input type="submit" value="Add" />
		</form>
	</div>

{% endblock %}
