/*Global*/

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	font-family: lato;
}

#site-wrapper {
	min-height: 900px;
	width: 800px;
	margin: auto;
	padding: 20px 50px 20px 50px;
	background-color: white;
	box-shadow: 0px 15px 37px #333;
}

/*header*/
header {
	padding: 10px 50px 10px 50px;
	background-color: #463265;
	min-height: 30px;
	box-shadow: 0px 3px 16px #463265;
}

header * {
	color: white;
}

header a:hover {
	background-color: #46325A;
}

header li {
	list-style-type: none;
	display: inline;
	margin-left: 25px;
}

.logo {
	float: left;
}

.navbar {
	float: right;
	padding-right: 50px;
}

.navbar a {
	padding: 20px;
}

.logout {
	float: right;
}

input[type="number"]:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
	outline: none;
	border-color: #9ecaed;
	box-shadow: 0 0 10px #9ecaed;
}

input[type="number"], textarea, input[type="text"], input[type="password"] {
	padding: 4px;
	border-radius: 5px;
	margin: 2px;
}

input[type="submit"] {
	padding: 2px;
}

/*registration*/
.helptext {
	display: none;
}

.reg-form {
	width: 200px;
	margin: auto;
}

/*Categories*/
.categories {
	display: inline-block;
	width: 200px;
	padding: 50px;
}

/*home*/
.money-card {
	background-color: #800033;
	display: inline-block;
	margin: 25px 0px 25px 70px;
	width: 100px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 8px;
	border-radius: 9px;
}

.credit {
	color: green;
}

.debit {
	color: #C53773;
}

.left {
	float: left;
}

.right {
	float: right;
}

.rupee-emblem img{
	width: 40px;
	padding-right: 10px;
	float: left;
}

.transaction-history {
	margin: 25px;
	padding: 0px 60px 0px 60px;  
}

.transaction {
	margin: 15px 5px 5px 5px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	box-shadow: 1px 1px 3px #333;
	border-radius: 8px;
}

.error {
	color: #C71821;
	background-color: #FFDDDF;
	border: 1px solid #F1C4C6;
	border-radius : 8px;
	padding: 5px;
	font-size: 0.9em;
	cursor: pointer;
}

.success {
	color: #14612A;
	background-color: #E9F6E8;
	border: 1px solid #C4E0CC;
	border-radius: 8px;
	padding: 5px;
	font-size: 0.9em;
	cursor: pointer;
}
.inline-form {
	margin: 25px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	box-shadow: 1px 3px 8px #C2B9B9;
}	

.inline-form * {
	margin: 10px 0px 10px 0px;
}

table {
	width: 700px;
	text-align: center;
	border-collapse: collapse;
	margin: 5px;
}

table th {
	color: white;
	background-color: #555555;
	padding: 2px;
}

td {
	padding: 10px;
	border: 1px solid #d4d4d4;
}

/*Reports*/
.showmore {
	color: #428bca;
	background-color: #F3F6F8;
	border-radius: 10px;
	padding: 10px;
}

.reports {
	font-size: 0.8em;
	padding: 10px;
	display: none;
}

.report-toggle {
	cursor: pointer;
}

.print {
	margin: auto;
	margin-top: 50px;
	color: white;
	background-color: #428bca;
	border-radius: 10px;
	padding: 10px;
	width: 100px;
	text-align: center;
	cursor: pointer;
}

.print:hover {
	background-color: #72B7F3;
}
