<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<title>{% block title %}Budget Manager{% endblock %}</title>
</head>
<header>
	{% block header %}
	<h1>
		<a href={% url 'index' %}>Budget Manager</a>
	</h1>
	{% endblock %}
</header>

<body>
	<div id="site-wrapper">

		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</div>
</body>
</html>
